.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Content.ReactModal__Content--after-open > .ui.grid{
    height: 100%;
    margin: 0 !important;
}

.ReactModal__Content.ReactModal__Content--after-open > .ui.grid > .row > .ui.buttons > .ui.button{
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.ReactModal__Content.ReactModal__Content--after-open > .ui.grid > .row > .column{
    margin-bottom: 0 !important;
}

.contentColumn{
    padding: 20px 50px 20px 50px !important;
}

.centerLogo{
    height: 120px !important;
    width: 120px !important;
}


