.App {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-areas:
    "main";
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.color_white {
  color: white;
}

.color_darkblue {
  color: #0b132b;
}

.color_green {
  color: #28A987;
}

.background_green {
  background-color: #28A987;
}

.background_white {
  background-color: #FFFFFF;
}

.background_darkblue {
  background-color: #0b132b;
}

.App-header {
  grid-area: header;
  background-color: #0b132a;
  color: white;
}

.App-logo {
  height: 100%;
  width: auto;
  vertical-align: middle;
}

.App-name {
  justify-content: center;
}

.App-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 33vw 67vw;
  grid-template-areas: "leftpanel rightpanel";
}

.Left-panel {
  grid-area: leftpanel;
  overflow: auto;
  height: 100vh;
  padding: 0;
}

.Right-panel {
  grid-area: rightpanel;
  height: 100vh;
}

.button {
  width: 175px;
  height: 45px;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  padding-left: 22px;
  margin: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.button:disabled {
  background-color: rgb(164, 207, 196);
}

.button:disabled:hover {
  background-color: rgb(164, 207, 196);
  cursor: unset;
}

.button:hover {
  background-color: rgb(32, 145, 114);
}

.button_secondary {
  width: 127px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #0b132b;
  margin: 12px;
  transition: 0.4s;
}

.button_secondary:hover {
  color: #28A987;
  border: 2px solid #28A987;
  
}

.button_secondary {
  width: 127px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #0b132b;
  margin: 12px;
}

.button_profile {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: none;
  margin: 6px;
  transition: 0.2s;
  cursor: pointer;
  color: #0b132b;
}

.button_profile:hover {
  background-color: #28A987;
  color: white;
}

.horizontalContainer{
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rules_edit_container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.filter_container{
  display: flex;
  flex-flow: row nowrap;
  height: 45px;
  margin: 12px;
}


.filter_clear{
  width: 45px;
  height: 45px;
  padding-left: 10px;
  margin-left: -7px;
  padding-top: 0px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid lightgray;
}

.edit_properties_button{
  width: 45;
  height: 45;
  background-color: #0b132b;
  border: none;
  cursor: pointer;
}

.profiles_container{
  display: flex;
  justify-content: left;
}

.textUppercase{
  text-align: center;
  text-transform: uppercase;
}

.buttonDevider{
  padding-top: 24px;
}

.new_file_from{
  padding: 50px;
}

.border_right {
  border-right: 1px solid white;
  padding-right: 30px;
}

.left_pannel_container{
  padding: 30px;
}

.accordion {
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #0b132b;
  color: #FFFFFF;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  width: 100%;
  padding: 22px 10px 12px 0px;
  text-align: left;
  transition: 0.4s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.basic_properties{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.basic_properties_options{
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: right;
  margin: 10px -10px 64px -6px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  color: #28A987;
  border-bottom-color: #28A987;
}

/* Style the accordion panel. Note: hidden by default */
.accordion_panel {
  padding-top: 12px;
  overflow: hidden;
}

.acordion_container{
  overflow: auto;
  height: -webkit-fill-available;
}

.semantic_green_override{
  background-color: #28A987 !important;
  color: white !important;
  transition: 0.4s !important;
  font-family: Karla !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
}

.marker_button{
  background-color: white !important;
  color: #0b132b !important;
  transition: 0.4s !important;
  font-family: Karla !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  border: 1px solid lightgray !important;
}

.marker_button:hover{
  color: #28A987 !important;
}

.marker_button:disabled:hover{
  color: #0b132b !important;
}