.App {
  display: grid;
  grid-template-rows: 6vh 94vh;
  grid-template-areas:
    "header"
    "main";
}

.App-header {
  grid-area: header;
  background-color: #0b132a;
  color: white;
}

.App-logo {
  height: 100%;
  width: auto;
  vertical-align: middle;
}

.App-name {
  justify-content: center;
}

.App-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 33vw 67vw;
  grid-template-areas: "leftpanel rightpanel";
}

.Left-panel {
  grid-area: leftpanel;
  overflow: auto;
  height: 94vh;
  padding: 0 30px 0 0;
}

.Right-panel {
  grid-area: rightpanel;
  height: 94vh;
}